/*
Plugin URI: https://wordpress.org/plugins/auto-set-first-image-as-featured/
Author: BehroozDante
Author URI: https://BehroozDante.ir/
Email: behroozdante@gmail.com
*/
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

 
 
#login{
    background: #32373c;
    border-radius: 5px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) !important;
    padding: 100px !important;
    margin-top: 25px !important;
}
 
.login form {
    margin-top: 20px !important;
    margin-left: 0 !important;
    padding: 26px 24px 46px !important;
    font-weight: 400 !important;
    overflow: hidden !important;
    background: #23282d !important;
    border: 1px solid #32373c !important;
    box-shadow: 0 1px 3px rgba(0,0,0,.04) !important;
}

body, html {
    background: #23282d !important;
    font-family: 'Vazir', sans-serif !important;
}

body:after {
    content: 'skins and page effects powered by WP ToolBox' !important;
    float: left !important;
    margin-top: 10px !important;
    color:#fff !important;
}

.wp-core-ui .button-primary {
    background: #50626F !important;
    border-color: #23282d !important;
    color: #fff !important;
    text-decoration: none !important;
    text-shadow: none !important;
    display: block !important;
    margin: 0 auto !important;
    width: 100% !important;
    border-radius: 5px !important;
}

.wp-core-ui .button-primary:hover{
    background: #50626F !important;
}

.wp-core-ui .button, .wp-core-ui .button-secondary {
    color: #fff !important;
}

.wp-core-ui .button:hover, .wp-core-ui .button-secondary:hover{
    background: #b00708 !important;
}

.login #login_error, .login .message, .login .success {
    font-family: 'Vazir', sans-serif !important;
    border-left: 4px solid #b00708 !important;
    padding: 12px !important;
    margin-left: 0 !important;
    margin-bottom: 20px !important;
    color: #fff !important;
    background-color: #23282d !important;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1) !important;
}
.login label {
    color: #fff !important;
}

.login form .input, .login form input[type=checkbox], .login input[type=text] {
    background: #000000 !important;
    border: none !important;
    color: #fff !important;
}

.login #backtoblog a, .login #nav a {
    width: 100% !important;
    display: block !important;
    margin: 0 auto !important;
    margin-top: 30px !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 5px !important;
    text-align: center !important;
    padding: 5px !important;
    color: #fff !important;
    text-decoration: none  !important;
}


.login #backtoblog a:hover, .login #nav a:hover {
 color: #50626F !important;
}
 